<body>
  <form action="/api/addCourse" method="POST">
  <div class="mb-3">
    <label for="course_code" class="form-label">Course Code</label>
    <input type="text" class="form-control" name="course_code">
  </div>
  <div class="mb-3">
    <label for="course_name" class="form-label">Course name</label>
    <input type="text" class="form-control" name="course_name">
  </div>
  <div class="mb-3">
    <label for="course_fac" class="form-label">Course Fac</label>
    <input type="text" class="form-control" name="course_fac">
  </div>
  <div class="mb-3">
    <label for="course_cred" class="form-label">Course Credits</label>
    <input type="text" class="form-control" name="course_cred">
  </div>
  <div class="mb-3">
    <label for="course_seats" class="form-label">Course seats</label>
    <input type="text" class="form-control" name="course_seats">
  </div>
  <div class="mb-3">
    <label for="course_term" class="form-label">Course Term</label>
    <input type="text" class="form-control" name="course_term">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  <script src="js/jquery-3.6.0.min.js"></script>
  <script src="js/auth.js"></script>
</body>