<div class="card text-center">
  <div class="card-header">
    Auction Msg
  </div>
  <div class="card-body">
    <h5 class="card-title">Bidding Window Closed</h5>
    <p class="card-text">Your bids have been successfully submitted, please wait
      for it to reopen</p>
    <a href="/stats-page" class="btn btn-primary">Check Stats</a>
    <a href="#" id="reset_bids" class="btn btn-danger">Reset Bids</a>
  </div>
  <div class="card-footer text-muted" id="subject_stats">
    Incase of any issue contact IT Team
  </div>
</div>