<body>
  <div class="body-background">
    <div
      class="container-fluid d-flex justify-content-center align-items-center h-100"
    >
      <div class="card p-3 text-center py-4">
        <h4>Create account</h4>
        <div>
          <span>Already have an account?</span>
          <a href="/login" class="text-decoration-none">Signin</a>
        </div>
        <div class="mt-3 px-3">
          <input
            class="form-control"
            type="email"
            title="Only IITB Email"
            pattern="^[a-zA-Z0-9_.+-]+@(?:(?:[a-zA-Z0-9-]+\\\.)?[a-zA-Z]+\.)?iitb.ac.in$"
            placeholder="Your IITB Email"
            id="reg_student_email"
            required
          />
        </div>
        <div class="input-group px-3 mt-3">
          <input
            type="text"
            class="form-control"
            placeholder="First Name"
            aria-label="fname"
            id="reg_student_fname"
            required
          />
          <span></span>
          <input
            type="text"
            class="form-control"
            placeholder="Last Name"
            aria-label="lname"
            id="reg_student_lname"
            required
          />
        </div>
        <div class="input-group px-3 mt-3">
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            aria-label="pass"
            id="reg_student_pass"
            required
          />
          <span></span>
          <input
            type="password"
            class="form-control"
            placeholder="Confirm Password"
            aria-label="conf-pass"
            id="conf_pass"
            required
          />
        </div>
        <div class="mt-3 d-grid px-3">
          <button
            class="btn btn-primary btn-block btn-signup text-uppercase"
            id="btn_signup"
          > <span>Signup</span> </button>
        </div>
      </div>
    </div>
  </div>
  <script src="js/jquery-3.6.0.min.js"></script>
  <script src="js/auth.js"></script>
</body>