<div class="list-group">
  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-success"
  >SOM 642 - Business Forecasting
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Dropdown button
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div></a>
  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-warning"
  >Warning item</a>
  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-danger"
  >Danger item</a>
</div>